<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
 
    <ion-tab-button tab="wishlist">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="chat">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>